{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Editar el Punto de Interés</h1>

    {{ form_errors(edit_form) }}

    <form action="{{ edit_form.vars.action }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="col-md-4">
                {{ form_row(edit_form.nombre) }}
            </div>
            <div class="col-md-4">
                {{ form_row(edit_form.contacto) }}
            </div>
            <div class="col-md-4">
                {{ form_row(edit_form.ciudad) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{ form_row(edit_form.descripcion) }}
            </div>
            <div class="col-md-2">
                {{ form_row(edit_form.latitud) }}
            </div>
            <div class="col-md-2">
                {{ form_row(edit_form.longitud) }}
            </div>
        </div>

        <div role="group">
            <input type="submit" class="btn btn-success btn-md" value="Guardar">
            <a href="{{ path('poi') }}" class="btn btn-primary btn-md"><i class="fa fa-list"></i> Listado</a>
        </div>

        {{ form_widget(edit_form._token)}}
    </form>
{% endblock %}
