{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Editar la Etiqueta</h1>

    {{ form_errors(edit_form) }}

    <form action="{{ edit_form.vars.action }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="col-md-12">
                {{ form_row(edit_form.nombre) }}
            </div>
        </div>

        <div role="group">
            <button type="submit" class="btn btn-success btn-md"><span class="glyphicon glyphicon-save"></span> Guardar</button>
            <a href="{{ path('etiqueta') }}" class="btn btn-primary btn-md"><i class="fa fa-list"></i> Listado</a>
        </div>

        {{ form_widget(edit_form._token)}}
    </form>
{% endblock %}
