{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Listado de Etiquetas</h1>

    <a href="{{ path('etiqueta_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Crear nuevo</a>

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>{{ knp_pagination_sortable(entities, 'Nombre', 'd.nombre') }}</th>
                    <th class="action">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td class="action">
                        <a href="{{ path('etiqueta_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> mostrar</a>
                        <a href="{{ path('etiqueta_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        {# display navigation #}
        <div class="navigation col-lg-12">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>
    {% endblock %}
