{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Crear nueva Etiqueta</h1>

    {{ form_errors(form) }}
    <form action="{{ form.vars.action }}" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.nombre) }}
            </div>
        </div>

        <div role="group">
            <button type="submit" class="btn btn-success btn-md"><span class="glyphicon glyphicon-save"></span> Crear</button>
            <a href="{{ path('etiqueta') }}" class="btn btn-default btn-md"><i class="fa fa-list"></i> Cancelar</a>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock %}
